* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progression__container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 300px;
  min-height: 50px;
  .progression__carrot {
    height: 2rem;
    width: 2rem;
  }
}

.solvekatas__btn {
  text-align: center;
  padding: 0.5rem;
}

.garden__container {
  margin: 0 auto;
  width: 90%;
  height: 400px;
  border: 1px solid black;
  position: relative;
  background-color: #C7E2ED;
  z-index: -99;
}

.garden__username {
  text-align: center;
  margin-top: 1rem;
}

.garden--level0 {
  z-index: 1;
  position: relative;
  top: 190px;
  width: 55px;
  height: 74px;  
  margin: 2em auto;
  //background: transparent url('./resources/level_000/bunny.png') 0 0 no-repeat; 
  animation: rabbitmovesX 1.5s steps(4) infinite,
             rabbitmovesY 9s steps(6) infinite; 
}

@keyframes rabbitmovesX {
  from {background-position-x: 0px;}
  to {background-position-x: -220px;}
}

@keyframes rabbitmovesY {
  from {background-position-y: 0px;}
  to {background-position-y: -444px;}
}

.garden--level1 {
  position: relative;
  top: -110px;
  width: 100%;
  height: 100%;
  background: url('./resources/level_001/background.gif') no-repeat;
  background-size: 100%;
}

.garden--level2  {
  position: absolute;
  top: 290px;
  left: 110px;
  width: 32px;
  height: 32px;
  background: transparent url('./resources/level_002/pumpkin.png') -10px -10px no-repeat; 
  animation: pumpkinmoves 5s steps(19) forwards;
}

@keyframes pumpkinmoves {
  from {background-position-x: -10px;}
  to {background-position-x: -998px;}
}

.questionnaire {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  max-width: 600px;
  * {
    text-align: center;
    margin: 1rem; 
    padding: 0.5rem;
  }
}

// .correct:active {
//   border: 2px solid rgb(83, 255, 83);
// }


