* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progression__container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 300px;
  min-height: 50px;
  .progression__carrot {
    height: 2rem;
    width: 2rem;
  }
}

.solvekatas__btn {
  text-align: center;
  padding: 0.5rem;
}

.garden__container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.questionnaire {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  max-width: 600px;
  * {
    text-align: center;
    margin: 1rem; 
    padding: 0.5rem;
  }
}

// .correct:active {
//   border: 2px solid rgb(83, 255, 83);
// }

