.navigation {
    text-align: center; 
    margin: 2rem auto;
    * {
        padding: 0.5rem 2rem;
        border: $border-black;
        color: black;
        &:hover {
            color: green;
            border-color: green;
        }
    }
}

.about {
    @include tablet_min_width {
        margin: 0 20%;
    }
    @include desktop_min_width {
        margin: 5% 20%;

    }
}

.about__developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__title {
    text-align: center;
    margin: 1rem auto;
    font-size: 2rem;
    @include desktop_min_width {
        font-size: 2.5rem;
    }
}

.about__description {
    text-align: center;
    margin: 0 2rem 3rem 2rem;
    @include desktop_min_width {
        font-size: 1.5rem;
        margin: 2rem -10% 5rem -10%;
    }
}

.about__footer {
    text-align: center;
    margin: 2rem;
    button {
        padding: 0.5rem 2rem;
        * {
            color: black;
            &:hover {
                color: green;
            }
          
        }
    }
}

.developers__title {
    @include desktop_min_width {
        font-size: 2rem;
    }
}

.developers__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 1.5rem;
        max-width: 35%;
        @include tablet_min_width {
            max-width: 20%;
        }
    }
    .person--name {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .person--links {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        a {
            color: black;
            &:hover{
                color: green;
                border-color: green;
            }
            &:focus {
                outline: 2px dashed green;
            }
        }
    }
}