.navigation {
    text-align: center; 
    margin: 1rem auto;

}

.about {
    @include tablet_min_width {
        margin: 0 20%;
    }
}

.about__developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__title {
    text-align: center;
    margin: 1rem auto;
    font-size: 2rem;
}

.about__description {
    text-align: center;
    margin: 0 2rem 3rem 2rem;
}

.about__footer {
    text-align: center;
    margin: 2rem;
    button {
        padding: 0.5rem 2rem;
        * {
            color: black;
            &:hover {
                color: green;
            }
        }
    }
}

.developers__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 1.5rem;
        max-width: 35%;
        @include tablet_min_width {
            max-width: 20%;
        }
    }
    .person--name {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .person--links {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        a {
            color: black;
            &:hover{
                color: green;
            }
        }
    }
}