.forgotPassword {
    text-align: center;
    margin: 4rem auto;
    padding: 2rem;
    width: 40%;
    border: $border-black;
}
.forgotPassword__msg {
    margin: 2rem 0.5rem;
}

.forgotPassword__navigate-btn {
    padding: 1rem;
    text-decoration: underline;
}