.forgotPassword {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    border: $border-black;
    @include tablet_min_width {
        margin: 4rem auto;
        width: 80%;
    }
    @include desktop_min_width {
        width: 50%;
    }
}
.forgotPassword__msg {
    margin: 2rem 0.5rem;
}

.forgotPassword__navigate-btn {
    padding: 1rem;
    text-decoration: underline;
}