.garden__container {
    margin: 0 auto;
    width: 345px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    background-color: #C7E2ED;
    z-index: -1;
}
  
.garden__username {
    text-align: center;
    margin-top: 1rem;
}
  