.login__section {
    @include tablet_min_width {
        width: 80%;
        margin: 0 auto;
    }
    @include desktop_min_width {
        width: 40%;
        margin: 3rem auto;
    }
}

.title__description {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
    @include tablet_min_width {
        font-size: 1.5rem;
    }
    @include desktop_min_width {
        font-size: 1.2rem;
    }
}

.title__img {
    max-width: 80%;
    margin: -10% 10% -15% 10%;
    @include desktop_min_width {
        width: 60%;
        margin: -10% 20% -15% 20%;
    }
}

.register__form, .login__form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    @include tablet_min_width {
        font-size: 1.5rem;
    }
    @include desktop_min_width {
        font-size: 1.2rem;
    }
    * {
        display: flex;
        flex-direction: column;
        @include tablet_min_width {
            font-size: 1.5rem;
        }
        @include desktop_min_width {
            font-size: 1.2rem;
        }
    }
}

.register__form-title {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        max-height: 2.5rem;
        margin-top: -0.5rem;
    }

}

.register__error-msg, .login__error-msg {
    text-align: center;
    color: red;
    margin-top: 1rem;
}

.form-group {
    label {
        padding-left: 0.2rem;
    }
    input {
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        padding: 0.2rem 0.5rem;
        font-size: 0.9rem;
        border: $border-black;
        @include tablet_min_width {
            font-size: 1.5rem;
            padding: 0.7rem 0.7rem;
        }
        @include desktop_min_width {
            font-size: 1.2rem;
        }
        &:focus {
            background-color: rgb(239, 255, 248);
            outline: 1px solid $link-hover;
        }
    }
}

.form__submit-btn {
    font-size: 1rem;
    align-items: center;
    padding: 0.5rem;
    background-color: $button-color;
    border: $border-black;
    @include tablet_min_width {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem 0;
        padding: 0.7rem 0.7rem;
    }
    @include desktop_min_width {
        font-size: 1.2rem;
    }
    &:focus {
       outline: 2px solid $link-hover;
    }
}

.register__form-login, .login__form-createaccount {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-left: 0.2rem;
    display: flex;
    flex-direction: row;
    p {
        padding-right: 0.5rem;
    }
}

.register__form-login-link, .login__form-createaccount-link {
    * {
        color: black;
        &:hover {
            color: $link-hover;
        }
        &:focus {
            outline: 2px dashed $link-hover;
        }
    }
}

.password-forgotten {
    * {
        color: black;
        font-size: 0.8rem;
        padding-left: 0.2rem;
        margin-top: -0.9rem;
        margin-bottom: 1rem;
        @include tablet_min_width {
            font-size: 1.2rem;
            padding-top: 0.4rem;
        }
        @include desktop_min_width {
            font-size: 1.2rem;
        }
    }
}
