.progression__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1rem auto;
  .top__container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .carrot__container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 90%;
    .carrot {
      height: 2rem;
      width: 2rem;
    }
  }
}

.level__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.level__level {
  border: $border-black;
  padding: 0.3rem 1rem;
}

.level__xpbar {
  width: 200px;
  border: $border-black;
  border-radius: 50px;
}

.xpbar-label {
  padding: 0.3rem 1rem;
}