.questionnaire {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;

  max-width: 600px;
  .questionnaire__codesnippet {
    margin: 0 0.5rem;
  }
  .questionnaire__question,
  .questionnaire__button {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
  }
  .questionnaire__button {
    background-color: white;
    border: $border-black;
    font-size: 1rem;
    &:hover {
      background-color: rgb(238, 255, 250);
      cursor: pointer;
    }
  }
  .questionnaire__btn-close {
    border: $border-black;
    border-radius: 50px;
    padding: 0.5rem;
    width: 2rem;
    text-align: center;
    margin: 1rem auto;
    background-color: white;
    &:hover {
      background-color: rgb(255, 155, 155);
      cursor: pointer;
    }
  }
  .questionnaire__btn-back {
    background-color: white;
    padding: 0.5rem;
    border: $border-black;
    &:hover {
      background-color: rgb(238, 255, 250);
      cursor: pointer;
    }

  }
}