// SPRITE HELPERS
@keyframes classicvegetableanimation {
  from {background-position-x: -10px;}
  to {background-position-x: -998px;}
}

// EMOTES

// .emote--happy {
//   width: 15px;
//   height: 16px;
//   animation: emotemoves 3s steps(4) infinite;
// }

// @keyframes emotemoves {
//   from {background-position-x: 0px;}
//   to {background-position-x: 78px;}
// }


// bunny
.garden--level0 {
  position: absolute;
  top: 260px;
  left: 180px;
  width: 55px;
  height: 74px;  
  animation: rabbitmovesX 1.5s steps(4) infinite,
              rabbitmovesY 9s steps(6) infinite; 
}

@keyframes rabbitmovesX {
  from {background-position-x: 0px;}
  to {background-position-x: -220px;}
}

@keyframes rabbitmovesY {
  from {background-position-y: 0px;}
  to {background-position-y: -444px;}
}

//backdrop
.garden--level1 {
  margin-top: 25px;
  width: 100%;
  height: 85%;
}

//pumpkin
.garden--level2  {
  margin-top: -115px;
  margin-left: 138px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//carrot
.garden--level3 {
  margin-top: -50px;
  margin-left: 160px;
  width: 32px;
  height: 50px; 
  animation: carrotmoves 3s steps(15) forwards;
}

@keyframes carrotmoves {
  from {background-position-x: -10px;}
  to {background-position-x: -790px;}
}

//corn
.garden--level4 {
  margin-top: -50px;
  margin-left: 250px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//lettuce
.garden--level5 {
  margin-top: -50px;
  margin-left: 310px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//tomato
.garden--level6 {
  margin-top: -50px;
  margin-left: 230px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//watermelon
.garden--level7 {
  margin-top: -50px;
  margin-left: 0px;
  width: 32px;
  height: 50px; 
  animation: watermelonmoves 3s steps(18) forwards;
}

@keyframes watermelonmoves {
  from {background-position-x: -10px;}
  to {background-position-x: -946px;}
}

//oak
.garden--level8  {
  margin-top: -160px;
  margin-left: 200px;
  width: 200px;
  height: 200px; 
  animation: treemove 2s steps(2) forwards;
}

@keyframes treemove {
  from {background-position-x: 0px;}
  to {background-position-x: -400px;}
}

//birch
.garden--level9  {
  margin-top: -200px;
  margin-left: -50px;
  width: 200px;
  height: 200px; 
  animation: treemove 2s steps(2) forwards;
}


//pigeon
.garden--level10  {
  margin-top: -256px;
  margin-left: 30px;
  width: 16px;
  height: 16px; 
  animation: pigeonmove 2s steps(3) infinite;
}

@keyframes pigeonmove {
  from {background-position-x: 0px;}
  to {background-position-x: -48px;}
}

//seagull
.garden--level11  {
  margin-top: 25px;
  margin-left: 100px;
  width: 16px;
  height: 16px; 
  animation: seagullmove 2s steps(3) infinite;
}

@keyframes seagullmove {
  from {background-position-x: 0px;}
  to {background-position-x: -48px;}
}

//mouse
.garden--level12  {
  margin-top: 190px;
  margin-left: 30px;
  width: 16px;
  height: 16px; 
  animation: mousemove 2s steps(3) infinite;
}

@keyframes mousemove {
  from {background-position-x: 0px;}
  to {background-position-x: -48px;}
}

//squirrel
.garden--level13  {
  margin-top: -180px;
  margin-left: 35px;
  width: 45px;
  height: 45px; 
  animation: squirrelmoveX 1s steps(5) infinite,
  squirrelmoveY 1s steps(1) infinite,;
}

@keyframes squirrelmoveX {
  from {background-position-x: 0px;}
  to {background-position-x: -225px;}
}
@keyframes squirrelmoveY {
  from {background-position-y: 0px;}
  to {background-position-Y: -45px;}
}

// animation: rabbitmovesX 1.5s steps(4) infinite,
// rabbitmovesY 9s steps(6) infinite; 
// }



//house
.garden--level14  {
  margin-top: -55px;
  margin-left: -0px;
  width: 200px;
  height: 200px;
}
