// SPRITE HELPERS
@keyframes classicvegetableanimation {
  from {background-position-x: -10px;}
  to {background-position-x: -998px;}
}

// EMOTES

// .emote--happy {
//   width: 15px;
//   height: 16px;
//   animation: emotemoves 3s steps(4) infinite;
// }

// @keyframes emotemoves {
//   from {background-position-x: 0px;}
//   to {background-position-x: 78px;}
// }


// bunny
.garden--level0 {
  position: absolute;
  top: 260px;
  left: 150px;
  width: 55px;
  height: 74px;  
  animation: rabbitmovesX 1.5s steps(4) infinite,
              rabbitmovesY 9s steps(6) infinite; 
}

@keyframes rabbitmovesX {
  from {background-position-x: 0px;}
  to {background-position-x: -220px;}
}

@keyframes rabbitmovesY {
  from {background-position-y: 0px;}
  to {background-position-y: -444px;}
}

//backdrop
.garden--level1 {
  margin-top: 25px;
  width: 100%;
  height: 85%;
}

//pumpkin
.garden--level2  {
  margin-top: -115px;
  margin-left: 125px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//carrot
.garden--level3 {
  margin-top: -50px;
  margin-left: 95px;
  width: 32px;
  height: 50px; 
  animation: carrotmoves 3s steps(15) forwards;
}

@keyframes carrotmoves {
  from {background-position-x: -10px;}
  to {background-position-x: -790px;}
}

//corn
.garden--level4 {
  margin-top: -50px;
  margin-left: 70px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//corn
.garden--level5 {
  margin-top: -50px;
  margin-left: 50px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//tomato
.garden--level6 {
  margin-top: -50px;
  margin-left: 30px;
  width: 32px;
  height: 50px; 
  animation: classicvegetableanimation 3s steps(19) forwards;
}

//watermelon
.garden--level7 {
  margin-top: -50px;
  margin-left: 10px;
  width: 32px;
  height: 50px; 
  animation: watermelonmoves 3s steps(18) forwards;
}

@keyframes watermelonmoves {
  from {background-position-x: -10px;}
  to {background-position-x: -946px;}
}

//oak
.garden--level8  {
  margin-top: -92px;
  margin-left: 292px;
  width: 50px;
  height: 96px; 
  animation: treemove 3s steps(5) forwards;
}

@keyframes treemove {
  from {background-position-x: 0px;}
  to {background-position-x: -250px;}
}

//birch
.garden--level9  {
  margin-top: -96px;
  margin-left: 260px;
  width: 50px;
  height: 96px; 
  animation: treemove 3s steps(5) forwards;
}


//pigeon
.garden--level10  {
  margin-top: -256px;
  margin-left: 30px;
  width: 16px;
  height: 16px; 
  animation: pigeonmove 2s steps(3) infinite;
}

@keyframes pigeonmove {
  from {background-position-x: 0px;}
  to {background-position-x: -48px;}
}

//seagull
.garden--level11  {
  margin-top: 25px;
  margin-left: 100px;
  width: 16px;
  height: 16px; 
  animation: seagullmove 2s steps(3) infinite;
}

@keyframes seagullmove {
  from {background-position-x: 0px;}
  to {background-position-x: -48px;}
}

//mouse
.garden--level12  {
  margin-top: 220px;
  margin-left: 30px;
  width: 16px;
  height: 16px; 
  animation: mousemove 2s steps(3) infinite;
}

@keyframes mousemove {
  from {background-position-x: 0px;}
  to {background-position-x: -48px;}
}

//plants
.garden--level13  {
  margin-top: -80px;
  margin-left: 190px;
  width: 150px;
  height: 40px; 
  // animation: flowersmove 2s steps(3) infinite;
}

// @keyframes flowersmove {
//   from {background-position-x: 0px;}
//   to {background-position-x: -48px;}
// }

//house
.garden--level14  {
  margin-top: -175px;
  margin-left: 120px;
  width: 200px;
  height: 200px;
  animation: housemove 2s steps(3) infinite;
}

@keyframes housemove {
  from {background-position-x: 0px;}
  to {background-position-x: -600px;}
}