* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

button {
    border: $border-black;
    background-color: white;
}

.btn--close {
    max-width: inherit;
}

.navigation {
    text-align: center;
    margin: 2rem;
    button {
        padding: 0.5rem 2rem;
        * {
            color: black;
            &:hover {
                color: green;
            }
        }
    }
} 