@font-face {
    font-family: JuliaMono-Regular;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
  }
  
 $julia: "JuliaMono-Regular", monospace;

 * {
     font-family: $julia;
 }